.home {
  background-image: linear-gradient(
    to right bottom,
    rgba(152, 228, 238, 0.853),
    rgba(136, 140, 99, 0.49)
  ),
  url('/images/home-bg.jpg');
background-size: cover;
background-position: top;
}

