.weather-col {
  position: relative;
}

.weather-col::after {
  content: '';
  display: block;
  width: 2px;
  height: calc( 100% - 40px );
  background-color: aliceblue;
  position: absolute;
  right: 0;
}

.weather-col:nth-child(3)::after {
  content: '';
  display: none;
  width: 2px;
  height: calc( 100% - 40px );
  background-color: aliceblue;
  position: absolute;
  right: 0;
}


select {
  appearance: none; /* 隱藏預設 UI */
  -webkit-appearance: none;
  -moz-appearance: none;
  
}



